// studio - views - assets
// ====================
.view-uploads {

  .content-primary, .content-supplementary {
    @include box-sizing(border-box);
  }

  .content-primary {
    @extend .ui-col-wide;
  }

  .content-supplementary {
    @extend .ui-col-narrow;
  }

  .nav-actions {

    .icon-cloud-upload {
      @extend %t-copy;
      vertical-align: bottom;
      margin-right: ($baseline/5);
    }
  }

  .no-asset-content {
    @extend %ui-well;
    padding: ($baseline*2);
    background-color: $gray-l4;
    text-align: center;
    color: $gray;

    .new-button {
      @extend %t-action3;
      @include margin-left($baseline);

      [class^="icon-"] {
        @include margin-right($baseline/2);
      }
    }
  }
}

// UI: assets - calls-to-action
.actions-list {
  @extend %actions-list;

  .action-item {

    // special checkbox styling
    &.action-lock {
      position: relative;
    }

    &.action-lock label {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;

      &:hover {
        background-color: $blue;
      }
    }

    &.action-lock .lock-checkbox {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      opacity: 0;
    }

    &.action-lock .lock-checkbox:hover ~ .action-button {
      background-color: $blue;
      color: $gray-l6;
    }

    &.action-lock .lock-checkbox ~ .action-button {
      .icon-lock {
        display: none;
      }

      .icon-unlock-alt {
        display: inline-block;
      }
    }

    &.action-lock .lock-checkbox:checked ~ .action-button {
      background-color: $gray;
      color: $white;

      .icon-lock {
        display: inline-block;
      }

     .icon-unlock-alt {
        display: none;
      }
    }
  }
}

.show-xml {
  @include blue-button;
}