.view-video-uploads {

  .file-drop {
    @include clearfix();
    margin-bottom: ($baseline*1.5);
    border: 2px dashed $gray-l3;
    border-radius: ($baseline/5);
    background: $white;

    .file-drop-upload-form {
      display: inline-block;
      width: 100%;
      vertical-align: middle;

      .file-drop-area {
        padding: ($baseline*3);
        text-align: center;
      }
    }

    &:hover, 
    &.is-dropped {
      background: $blue-l5;
      border-style: solid;
      border-color: $blue-l4;
    }

    &.has-dropped {
      background: $blue-l4;
      border-style: solid;
      border-color: $blue-l3;
    }
  }

  .video-upload-progress-container {
    margin-bottom: ($baseline*2);

     .video-upload-progress-list {
      @extend %cont-no-list;

      .video-upload-item {
        display: inline-block;
        width: flex-grid(4);
        padding: (flex-gutter() - 1.6);
        vertical-align: top;

        .video-detail-wrapper {
          min-height: ($baseline*4);
          padding: ($baseline/2);
          border: 1px solid $gray-l3;
          border-radius: ($baseline/5);

          .video-detail-title {
            @extend %cont-truncated;
            @extend %t-strong;
            margin-bottom: ($baseline/2);
            font-size: 90%;
          }

          .status-message {
            @include font-size(12);
            @include line-height(12);

            .error {
              color: $color-error;
            }

            .success {
              color: $color-ready;
            }
          }
        }
      }

      .video-upload-item:hover, .video-upload-item:focus {

        .video-detail-wrapper {
          @include transition(all $tmg-f3);
          background: $white;

          .video-detail-progress-bar {

            progress.upload-progress-bar::-webkit-progress-bar {
              background: $gray-l5;
            }
          }
        }
      }
    }
  }

  .assets-wrapper {
    margin-top: ($baseline*2.5);

    .asset-library {

      h3 {
        @extend %t-strong;
        margin-bottom: ($baseline*2);
      }

      table {
        font-size: 80%;

        td.name-col {

          a {
            @extend %t-strong;
          }
        }

        td.status-col {
          text-transform: uppercase;
        }
      }
    }
  }

  .button {
    @extend %ui-btn-non;
  }

}